<a href="https://colab.research.google.com/github/skrofman/Applied-Machine-Learning/blob/master/Lab2_working.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. ) Regardless whether we know or not the shape of the distribution of a random variable, an interval centered around the mean whose total length is 8 standard deviations is guaranteed to include at least a certain percantage of data. This guaranteed minimal value as a percentage is:

98.4375

In [48]:
(1-(1/(8**2)))*100

98.4375

2.) For scaling data by quantiles we need to compute the z-scores first:

False

3.) In the 'mtcars' dataset the zscore of an 18.1mpg car is:

0.252064

In [7]:
from sklearn import linear_model
import pandas as pd
import numpy as np

cars = pd.read_csv('drive/MyDrive/DATA 310/mtcars.csv')
cars

                  model   mpg  cyl   disp   hp  ...   qsec  vs  am  gear  carb
0             Mazda RX4  21.0    6  160.0  110  ...  16.46   0   1     4     4
1         Mazda RX4 Wag  21.0    6  160.0  110  ...  17.02   0   1     4     4
2            Datsun 710  22.8    4  108.0   93  ...  18.61   1   1     4     1
3        Hornet 4 Drive  21.4    6  258.0  110  ...  19.44   1   0     3     1
4     Hornet Sportabout  18.7    8  360.0  175  ...  17.02   0   0     3     2
5               Valiant  18.1    6  225.0  105  ...  20.22   1   0     3     1
6            Duster 360  14.3    8  360.0  245  ...  15.84   0   0     3     4
7             Merc 240D  24.4    4  146.7   62  ...  20.00   1   0     4     2
8              Merc 230  22.8    4  140.8   95  ...  22.90   1   0     4     2
9              Merc 280  19.2    6  167.6  123  ...  18.30   1   0     4     4
10            Merc 280C  17.8    6  167.6  123  ...  18.90   1   0     4     4
11           Merc 450SE  16.4    8  275.8  180  ...  17.40   0   0     3     3
12           Merc 450SL  17.3    8  275.8  180  ...  17.60   0   0     3     3
13          Merc 450SLC  15.2    8  275.8  180  ...  18.00   0   0     3     3
14   Cadillac Fleetwood  10.4    8  472.0  205  ...  17.98   0   0     3     4
15  Lincoln Continental  10.4    8  460.0  215  ...  17.82   0   0     3     4
16    Chrysler Imperial  14.7    8  440.0  230  ...  17.42   0   0     3     4
17             Fiat 128  32.4    4   78.7   66  ...  19.47   1   1     4     1
18          Honda Civic  30.4    4   75.7   52  ...  18.52   1   1     4     2
19       Toyota Corolla  33.9    4   71.1   65  ...  19.90   1   1     4     1
20        Toyota Corona  21.5    4  120.1   97  ...  20.01   1   0     3     1
21     Dodge Challenger  15.5    8  318.0  150  ...  16.87   0   0     3     2
22          AMC Javelin  15.2    8  304.0  150  ...  17.30   0   0     3     2
23           Camaro Z28  13.3    8  350.0  245  ...  15.41   0   0     3     4
24     Pontiac Firebird  19.2    8  400.0  175  ...  17.05   0   0     3     2
25            Fiat X1-9  27.3    4   79.0   66  ...  18.90   1   1     4     1
26        Porsche 914-2  26.0    4  120.3   91  ...  16.70   0   1     5     2
27         Lotus Europa  30.4    4   95.1  113  ...  16.90   1   1     5     2
28       Ford Pantera L  15.8    8  351.0  264  ...  14.50   0   1     5     4
29         Ferrari Dino  19.7    6  145.0  175  ...  15.50   0   1     5     6
30        Maserati Bora  15.0    8  301.0  335  ...  14.60   0   1     5     8
31           Volvo 142E  21.4    4  121.0  109  ...  18.60   1   1     4     2

[32 rows x 12 columns]

In [5]:
cars[['mpg']]

     mpg
0   21.0
1   21.0
2   22.8
3   21.4
4   18.7
5   18.1
6   14.3
7   24.4
8   22.8
9   19.2
10  17.8
11  16.4
12  17.3
13  15.2
14  10.4
15  10.4
16  14.7
17  32.4
18  30.4
19  33.9
20  21.5
21  15.5
22  15.2
23  13.3
24  19.2
25  27.3
26  26.0
27  30.4
28  15.8
29  19.7
30  15.0
31  21.4

In [45]:
x = cars[['mpg']]
(x-np.mean(x))/np.std(x)

         mpg
0   0.153299
1   0.153299
2   0.456737
3   0.220730
4  -0.234427
5  -0.335572
6  -0.976163
7   0.726459
8   0.456737
9  -0.150138
10 -0.386145
11 -0.622152
12 -0.470433
13 -0.824444
14 -1.633610
15 -1.633610
16 -0.908732
17  2.075070
18  1.737917
19  2.327934
20  0.237587
21 -0.773871
22 -0.824444
23 -1.144739
24 -0.150138
25  1.215330
26  0.996181
27  1.737917
28 -0.723298
29 -0.065850
30 -0.858159
31  0.220730

4.) In the 'mtcars' dataset determine the percentile of a car that weighs 3520bs is (round up to the nearest percentage point)

68%

In [47]:
cars[['wt']]

       wt
0   2.620
1   2.875
2   2.320
3   3.215
4   3.440
5   3.460
6   3.570
7   3.190
8   3.150
9   3.440
10  3.440
11  4.070
12  3.730
13  3.780
14  5.250
15  5.424
16  5.345
17  2.200
18  1.615
19  1.835
20  2.465
21  3.520
22  3.435
23  3.840
24  3.845
25  1.935
26  2.140
27  1.513
28  3.170
29  2.770
30  3.570
31  2.780

In [46]:
from sklearn.preprocessing import StandardScaler, QuantileTransformer
scaler = StandardScaler()
scaler.fit(cars[['wt']])
scaler.fit_transform(cars[['wt']])

array([[-0.62016658],
       [-0.35538219],
       [-0.93167763],
       [-0.00233633],
       [ 0.23129695],
       [ 0.25206436],
       [ 0.36628508],
       [-0.02829559],
       [-0.06983039],
       [ 0.23129695],
       [ 0.23129695],
       [ 0.88547016],
       [ 0.5324243 ],
       [ 0.58434281],
       [ 2.11074695],
       [ 2.29142336],
       [ 2.20939212],
       [-1.05628205],
       [-1.6637286 ],
       [-1.43528716],
       [-0.78111396],
       [ 0.31436657],
       [ 0.2261051 ],
       [ 0.64664502],
       [ 0.65183687],
       [-1.33145014],
       [-1.11858426],
       [-1.76964235],
       [-0.04906299],
       [-0.46441106],
       [ 0.36628508],
       [-0.45402735]])

In [11]:
qtn = QuantileTransformer(n_quantiles=100)
qtn.fit_transform(cars[['wt']])*100

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/_data.py:2357: UserWarning: n_quantiles (100) is greater than the total number of samples (32). n_quantiles is set to n_samples.
  % (self.n_quantiles, n_samples))

array([[ 25.80645161],
       [ 35.48387097],
       [ 19.35483871],
       [ 48.38709677],
       [ 58.06451613],
       [ 64.51612903],
       [ 72.58064516],
       [ 45.16129032],
       [ 38.70967742],
       [ 58.06451613],
       [ 58.06451613],
       [ 90.32258065],
       [ 77.41935484],
       [ 80.64516129],
       [ 93.5483871 ],
       [100.        ],
       [ 96.77419355],
       [ 16.12903226],
       [  3.22580645],
       [  6.4516129 ],
       [ 22.58064516],
       [ 67.74193548],
       [ 51.61290323],
       [ 83.87096774],
       [ 87.09677419],
       [  9.67741935],
       [ 12.90322581],
       [  0.        ],
       [ 41.93548387],
       [ 29.03225806],
       [ 72.58064516],
       [ 32.25806452]])

5.) A finite sum of squared quantities that depends on some parameters (weights), always has a minimum value.

True

6.) For the 'mtcars' data set use a linear model to predict the mileage of a car whose weight is 2800lbs. The answer with only the first two decimal places and no rounding is:

22.32

In [17]:
cars = pd.read_csv('drive/MyDrive/DATA 310/mtcars.csv')
x = cars[['wt']]
y = cars[['mpg']]
lm = linear_model.LinearRegression()
model = lm.fit(x,y)
wtp = qtn.fit_transform(x)

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/_data.py:2357: UserWarning: n_quantiles (100) is greater than the total number of samples (32). n_quantiles is set to n_samples.
  % (self.n_quantiles, n_samples))

In [18]:
lm.predict([[2.8]])

array([[22.32060576]])

7.) In this problem you will use the gradient descent algorithm as presented in the 'Linear-regression-demo' notebook. For the 'mtcars' data set if the input variable is the weight of the car and the output variable is the mileage, then (slightly) modify the gradient descent algorithm to compute the minimum sum of squared residuals. If, for running the gradient descent algorithm, you consider the learning_rate = 0.01, the number of iterations = 10000 and the initial slope and intercept equal to 0, then the optimal value of the sum of the squared residuals is:

4.35

In [20]:
cars = pd.read_csv('drive/MyDrive/DATA 310/mtcars.csv')
x = cars[['wt']]
y = cars[['mpg']]
lm = linear_model.LinearRegression()
model = lm.fit(x,y)
wtp = qtn.fit_transform(x)

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/_data.py:2357: UserWarning: n_quantiles (100) is greater than the total number of samples (32). n_quantiles is set to n_samples.
  % (self.n_quantiles, n_samples))

In [21]:
(x-np.mean(x))/np.std(x)

          wt
0  -0.620167
1  -0.355382
2  -0.931678
3  -0.002336
4   0.231297
5   0.252064
6   0.366285
7  -0.028296
8  -0.069830
9   0.231297
10  0.231297
11  0.885470
12  0.532424
13  0.584343
14  2.110747
15  2.291423
16  2.209392
17 -1.056282
18 -1.663729
19 -1.435287
20 -0.781114
21  0.314367
22  0.226105
23  0.646645
24  0.651837
25 -1.331450
26 -1.118584
27 -1.769642
28 -0.049063
29 -0.464411
30  0.366285
31 -0.454027

In [35]:
from sklearn import linear_model
cars[['mpg','wt']].head(34)

     mpg     wt
0   21.0  2.620
1   21.0  2.875
2   22.8  2.320
3   21.4  3.215
4   18.7  3.440
5   18.1  3.460
6   14.3  3.570
7   24.4  3.190
8   22.8  3.150
9   19.2  3.440
10  17.8  3.440
11  16.4  4.070
12  17.3  3.730
13  15.2  3.780
14  10.4  5.250
15  10.4  5.424
16  14.7  5.345
17  32.4  2.200
18  30.4  1.615
19  33.9  1.835
20  21.5  2.465
21  15.5  3.520
22  15.2  3.435
23  13.3  3.840
24  19.2  3.845
25  27.3  1.935
26  26.0  2.140
27  30.4  1.513
28  15.8  3.170
29  19.7  2.770
30  15.0  3.570
31  21.4  2.780

In [39]:
qtn = QuantileTransformer(n_quantiles=100)
x = cars[['wt']]
y = cars[['mpg']]
lm = linear_model.LinearRegression()
model = lm.fit(x,y)
wtp = qtn.fit_transform(x)
(x-np.mean(x))/np.std(x)

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/_data.py:2357: UserWarning: n_quantiles (100) is greater than the total number of samples (32). n_quantiles is set to n_samples.
  % (self.n_quantiles, n_samples))

          wt
0  -0.620167
1  -0.355382
2  -0.931678
3  -0.002336
4   0.231297
5   0.252064
6   0.366285
7  -0.028296
8  -0.069830
9   0.231297
10  0.231297
11  0.885470
12  0.532424
13  0.584343
14  2.110747
15  2.291423
16  2.209392
17 -1.056282
18 -1.663729
19 -1.435287
20 -0.781114
21  0.314367
22  0.226105
23  0.646645
24  0.651837
25 -1.331450
26 -1.118584
27 -1.769642
28 -0.049063
29 -0.464411
30  0.366285
31 -0.454027

In [41]:
# we can get the slope and the y-intercept

m = lm.coef_
n = lm.intercept_

print('The slope is:'+str(m))
print('The intercept is:'+str(n))

xb = np.mean(x.values)
yb=np.mean(y.values)

The slope is:[[-5.34447157]]
The intercept is:[37.28512617]

In [42]:
learning_rate = 0.01
initial_b = 0
initial_m = 0
num_iterations = 10000
data = np.concatenate((x.values,y.values),axis=1)

def step_gradient(b_current, m_current, data, alpha):
    """takes one step down towards the minima
    
    Args:
        b_current (float): current value of b
        m_current (float): current value of m
        data (np.array): array containing the training data (x,y)
        alpha (float): learning rate / step size
    
    Returns:
        tuple: (b,m) new values of b,m
    """
    
    m_gradient = 0
    b_gradient = 0
    N = float(len(data))

    # Calculate Gradient
    for i in range(0, len(data)):
        x = data[i, 0]
        y = data[i, 1]
        m_gradient += - (2/N) * x * (y - (m_current * x + b_current))
        b_gradient += - (2/N) * (y - (m_current * x + b_current))
    
    # Update current m and b
    m_updated = m_current - alpha * m_gradient
    b_updated = b_current - alpha * b_gradient

    #Return updated parameters
    return b_updated, m_updated

def gradient_descent(data, starting_b, starting_m, learning_rate, num_iterations):
    """runs gradient descent
    
    Args:
        data (np.array): training data, containing x,y
        starting_b (float): initial value of b (random)
        starting_m (float): initial value of m (random)
        learning_rate (float): hyperparameter to adjust the step size during descent
        num_iterations (int): hyperparameter, decides the number of iterations for which gradient descent would run
    
    Returns:
        list : the first and second item are b, m respectively at which the best fit curve is obtained, the third and fourth items are two lists, which store the value of b,m as gradient descent proceeded.
    """

    # initial values
    b = starting_b
    m = starting_m
    
    # to store the cost after each iteration
    cost_graph = []
    
    # to store the value of b -> bias unit, m-> slope of line after each iteration (pred = m*x + b)
    b_progress = []
    m_progress = []
    
    # For every iteration, optimize b, m and compute its cost
    for i in range(num_iterations):
        cost_graph.append(compute_cost(b, m, data))
        b, m = step_gradient(b, m, data, learning_rate)
        b_progress.append(b)
        m_progress.append(m)
        
    return [b, m, cost_graph,b_progress,m_progress]

In [43]:
def compute_cost(b, m, data):
    total_cost = 0
    
    # number of datapoints in training data
    N = float(len(data))
    
    # Compute sum of squared errors
    for i in range(0, len(data)):
        x = data[i, 0]
        y = data[i, 1]
        total_cost += (y - (m * x + b)) ** 2
        
    # Return average of squared error
    return total_cost/(2*N)

In [44]:
b, m, cost_graph,b_progress,m_progress = gradient_descent(data, initial_b, initial_m, learning_rate, num_iterations)

#Print optimized parameters
print ('Optimized b:', b)
print ('Optimized m:', m)

#Print error with optimized parameters
print ('Minimized cost:', compute_cost(b, m, data))

Optimized b: 37.285117303091454
Optimized m: -5.344469026915932
Minimized cost: 4.348780274117971

8.) If we have one input variable and one output, the process of determining the line of best fit may not require the calculation of the intercept inside the gradient descent algorithm.

True

9.) For the line of regression in the case of the example we discussed with the 'mtcars' data set the meaning of the intercept is:

no interpretable meaning

10.) The slope of the regression line always remains the same if we scale the data by z-scores.

False